includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/
        - database/
        - resources/

    level: 6

    ignoreErrors:
        - '#Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model::belongsToMany\(\)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::hasJoin\(\).#'
        - '#Method StickleApp\\Core\\Models\\ModelAttributes::attributable\(\) should return#'
        - '#Method StickleApp\\Core\\Models\\ModelAttributeAudit::attributable\(\) should return#'
        - '#Method StickleApp\\Core\\Models\\Segment::segmentStatistics\(\) should return#'
        - '#Method StickleApp\\Core\\Models\\ModelSegmentAudit::segment\(\)#'
        - '#Method StickleApp\\Core\\Models\\Segment::objects\(\) should return#'

    excludePaths:
        - src/Commands/ConfigureCommand.php
        - src/Traits/StickleEntity.php
        - src/Views/Components/*.*